.checkbox-container {
  .checkbox {
    display: flex;
    width: 32rpx;
    height: 32rpx;
    border: 1rpx solid #ccc;
    border-radius: 4rpx;

    .fill {
      margin: 8rpx;
      flex: 1;
      border-radius: 4rpx;
      overflow: hidden;
    }

    .checked {
      margin: 0;
      border-radius: 0;
      background: no-repeat
        url("https://pic1.imgdb.cn/item/678756e7d0e0a243d4f4710b.png");
      background-size: 100%;
      border: none;
    }
    .none {
      background-color: transparent;
    }
    .part {
      background-clip: content-box;
      background-color: #007aff;
    }
  }
}
